<!DOCTYPE html>
<html lang="en">

<head>
    <title>Flask Weather App</title>
    <link rel="stylesheet" href="static/indexStyle.css">
</head>

<body>
    <form action="/" method="POST">
        <h4>Flask Weather App</h4>
        <label for="zipcode">Zipcode:</label>
        <input type="text" id="zip" name="zip" placeholder="Enter zipcode" />
        <label for="country_code">Country Code (Ex. US, UK):</label>
        <input type="text" id="country_code" name="country_code" placeholder="Enter country code" />
        <button type="submit" id="openweather_api">Enter</button>
    </form>
</body>

</html>